@import "../../shared.scss";

.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(3em, 1fr));
    grid-template-rows: repeat(3, minmax(3em, 1fr));
    gap: 1em;
    height: 100%;
    width: 100%;
}

.active {
    cursor: pointer;
    border: solid 4px green;
}

.unactive {
    cursor: not-allowed;
    border: solid 4px red;
}
