//Main site colors
$text: #f2f6ee;
$background: #070a05;
$primary: #f9f9f9;
$secondary: #22162c;
$accent: #af6260;

//Default site configuration
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $text;
    background-color: $background;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Body configuration
body {
    margin: 0;
    padding: 0;
    display: flex;
}
